body {
	margin: 0px;
	padding: 0px;
}


div.wrapper {
	margin: 18px auto;
	width: 280px;
	text-align: center;
}

* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	-webkit-tap-highlight-color: #ffffff;
}

div.tile {
	width:130px;
	height:130px;
	margin:5px;
	float:left;
	background-size: cover;
	cursor:pointer;
}

div.touched {
	width: 120px;
	height: 120px;
	margin:10px;
}


div.lamp {
	background-image: url('lamp.jpg');
}

div.fan {
	background-image: url('fan.jpg');
}


div.blinds {
	background-image: url('blinds.jpg');
}

